<link rel="stylesheet" href="/src/partial/components/page-overlay/page-overlay.scss" />

<div class="page-overlay">
	{{#> components/card/card title=title }}
			{{> @partial-block }}
		{{/ components/card/card }}
</div>