{{#PageOverlay}}
	{{#Card title='Смена пароля'}}
	{{{ ComplexForm id='login-form' formInputs=formInputs onFormSubmit=onFormSubmit submitButtonTitle="Сохранить" }}}
	<div class="form-link">
		{{#Link onClick=goToChatPage }}
			Назад
		{{/Link}}
	</div>
	{{/Card}}
{{/PageOverlay}}