{{#PageOverlay}}
	{{#Card title='Смена пароля'}}
	{{#Form classes='profile-change-password-form' ref='form' id='profile-change-password-form' onSubmit=onSubmit onFocusout=onFocusout }}
		{{#each formInputs}}
			{{{FormInput
				ref=this.ref
				label=this.label
				placeholder=this.placeholder
				classes='profile-change-password-form__item'
				name=@key
				type=this.type
				validator=this.validator
				error=this.error
				showError=this.showError
			}}}
		{{/each}}
	<div class="settings-form__item form-buttons">
		{{#Button}}Сохранить{{/Button}}
		{{#Link
			href='/' onClick=goToChatPage
		}}
			Назад
		{{/Link}}

	</div>
{{/Form}}
	{{/Card}}
{{/PageOverlay}}