{{#PageOverlay}}
	{{#Card title='Авторизация'}}
		{{#Form classes='login-form' ref='form' id='login-form' onSubmit=onSubmit onFocusout=onFocusout }}
			{{#each formInputs}}
				{{{FormInput
					ref=this.ref
					label=this.label
					placeholder=this.placeholder
					classes='login-form__item'
					name=@key
					type=this.type
					validator=this.validator
					error=this.error
					showError=this.showError
				}}}
			{{/each}}
			<div class='login-form__item form-buttons'>
				{{#Button}}Войти{{/Button}}
				{{#Link onClick=goToRegistrationPage }}
					Нет аккаунта?
				{{/Link}}
			</div>
		{{/Form}}
	{{/Card}}
{{/PageOverlay}}
