<div class="popup-confirm">
	<h3 class="popup-confirm__title">
		{{title}}
	</h3>
	<div class="popup-confirm__actions">
		{{#Button danger=true onClick=onConfirm }}Удалить{{/Button}}
		{{#Button onClick=onCancel }}Отмена{{/Button}}
	</div>
</div>