<link rel="stylesheet" href="/src/partial/components/avatar/avatar.scss" />

<div class="avatar">
	<img class="avatar__img
		{{classes}}
		{{#if big}}avatar-big{{/if}}
	"
	src="{{src}}" alt="{{alt}}" />
</div>
