	<div class="attach-wrapper">
		<div class="attach">
			<button class="attach__button">
				<span class="attach__button-icon">
				<i class="fa-regular fa-images"></i>
				</span>
				Фото или видео</button>
			<button class="attach__button">
				<span class="attach__button-icon"><i class="fa-solid fa-location-dot"></i></span>Локацию</button>
			<button class="attach__button">
				<span class="attach__button-icon">
				<i class="fa-solid fa-file"></i>
				</span>
					Файл
				</button>
			</div>
	</div>