@import '/src/utils/variables';

.chat-main-wrapper {
	height: 100vh;
	display: flex;
	align-items: stretch;
	background-color: $light-gray-color;
}

.chat-left-column {
	flex-basis: 500px;
	border-right: 1px solid $gray-color;
	height: 100%;
	background-color: $white-color;
}

.chat-search {
	position: relative;
	height: 90px;
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 20px;
	border-top: 1px solid $gray-color;
	border-bottom: 1px solid $gray-color;
	background-color: $white-color;

	&__input {
		flex-grow: 1;
	}
}

.chat-righ-column {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}
