<div class="popup-add-chat">
	<form>
		<h3 class="popup-add-chat__title">Создать чат</h3>
		{{{FormInput placeholder='Введите название чата' label="Название чата"}}}
		<div class="popup-add-chat__actions-wrapper">
			{{#Button}}Добавить{{/Button}}
		</div>
	</form>
</div>