<div class="popup-add-chat">
		<h3 class="popup-add-chat__title">Создать чат</h3>
		{{{ ComplexForm id='new-chat' formInputs=formInputs onFormSubmit=onFormSubmit submitButtonTitle="Добавить" }}}
</div>