{{#PageOverlay}}
	{{#Card}}
		<main>
			{{{ErrorPageContent
				title='500'
				description='Ошибка сервера :('
				link-text='Назад к чатам'
				href='/'
			}}}
		</main>
	{{/Card}}
{{/PageOverlay}}
