<div class="popup-chat-users">
	<h3 class="popup-chat-users__title">Список пользователей</h3>
	<div class="popup-chat-users__actions">
		{{{ Input placeholder='Введите логин для добавления' ref="user-login" }}}
		{{#CircleButton onClick=onUserAdd }}<i class='fa-solid fa-plus' /></i>{{/CircleButton}}
	</div>
	<ul class="popup-chat-users__list users-list">
		{{#each users}}
			<li class="users-list__item users-list-item">
				{{{Avatar src=this.avatar alt=this.avatarAlt}}}
				<span class="users-list-item__name">{{ this.first_name }} {{ this.second_name }}</span>
				{{#unless this.isAdmin }}
					{{#CircleButton danger=true onClick=onDelete }}<i class='fa-solid fa-xmark' /></i>{{/CircleButton}}
				{{/unless }}
			</li>
		{{/each}}
	</ul>
</div>