<div class="popup-chat-users">
	<div class="popup-chat-users__actions">
		{{{ Input placeholder='Поиск' }}}
		{{#CircleButton}}<i class='fa-solid fa-plus' /></i>{{/CircleButton}}
	</div>
	<ul class="popup-chat-users__list users-list">
		{{#each users}}
			<li class="users-list__item users-list-item">
				{{{Avatar src=this.avatarSrc alt=this.avatarAlt}}}
				<span class="users-list-item__name">{{this.name}}</span>
				{{#CircleButton danger=true}}<i class='fa-solid fa-xmark' /></i>{{/CircleButton}}
			</li>
		{{/each}}
	</ul>
</div>