{{#PageOverlay}}
	{{#Card title='Регистрация'}}
		{{{ ComplexForm id='login-form' formInputs=formInputs onFormSubmit=onFormSubmit submitButtonTitle="Зарегистрироваться" }}}
		<div class="form-link">
			{{#Link onClick=goToLoginPage }}
				Войти
			{{/Link}}
		</div>
	{{/Card}}
{{/PageOverlay}}
