<div class="popup-confirm">
	<h3 class="popup-confirm__title">
		{{title}}
	</h3>
	<div class="popup-confirm__actions">
		{{#Button danger=true}}Удалить{{/Button}}
		{{#Button}}Отмена{{/Button}}
	</div>
</div>