{{#PageOverlay}}
	{{#Card}}
		<main>
			{{{ErrorPageContent
				title='404'
				description='Страницы не существует :('
				link-text='Назад к чатам'
				href='/'
			}}}
		</main>
	{{/Card}}
{{/PageOverlay}}
