@import "/src/utils/variables";

.user-settings-form {
	width: 485px;

	&__avatar {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__item {
		margin-bottom: 12px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}
