{{#PageOverlay}}
	{{#Card title='Настройка профиля'}}
	<div class="user-settings-form__avatar">
		{{#UploadFile name='avatar' onSelect=onAvatarChange accept='image/*' }}
			{{{ Avatar big=true src=avatar }}}
		{{/UploadFile }}
	</div>
	{{#Form classes='user-settings-form' ref='form' id='profile-settings-form' onSubmit=onSubmit onFocusout=onFocusout }}
		{{#each formInputs}}
			{{{FormInput
				ref=this.ref
				label=this.label
				placeholder=this.placeholder
				classes='user-settings-form__item'
				name=@key
				type=this.type
				validator=this.validator
				error=this.error
				showError=this.showError
				value=this.value
			}}}
		{{/each}}

		<div class="user-settings-form__item form-buttons">
			{{#Button}}Сохранить{{/Button}}
			{{#Link
				href='/' onClick=goToChatPage
			}}
				Назад
			{{/Link}}
			</div>

		{{/Form}}
	{{/Card}}
{{/PageOverlay}}